. fadinha
{
    background-color:black;
}
h1 {
    background-color:rgba(255, 0, 0, 0.911);
    text-align: center;
}
h2 {
    background-color:rgba(255, 0, 0, 0.911);
}
. imagem{
          width: 20x ; _
}
p{
   font-size: 15px ;
}
.parágrafo1{
   font-size: 23px ;
}
. Coleção {
    exibição:block in line;
    margin:  0  16 px ;
}
. imagem {
    Background image: linear-gradient (#383d58);
}
.footter{
    background-color: black;
    fill:  15 px ;
    exibição:block in line;
}