. fadinha
{
    background-color:black;
}
h1 {
    background-color:rgba(19, 117, 117, 0.452);
    text-align: center;
}
h2 {
    background-color: rgba(255, 0, 0, 0.637);
}
. imagem{
          width: 20x ; _
}
p{
   font-size: 15px ;
}
.parágrafo1{
   font-size: 23px ;
}
. Coleção {
    exibição:block in line;
    margin:  0  16 px ;
}
. imagem {
    Background image: linear-gradient (#383d58);
}
.footter{
    background-color:rgba(19, 117, 117, 0.452);
    margin-top: auto;
    fill:  15 px ;
    exibição:block in line;
}
.contatos {
    exibição:block in line;
    margin:  0  16 px  ;

}
.seila{
    background-color:rgba(19, 117, 117, 0.452);
}