. fadinha
{ 
    background-color:black;
}
h1{
    background-color:red;
    text-align:center;
}
h2{
    background-color:red;
}
.imagem{
          width: 20x ; 
}
p{
    font-size: 11px;
}
.paragrafo1{
    font-size: 23px;
}
.Coleção{
    display:inline-block;
    margin: 0 16px;
}
.imagem{
    background-image:linear-gradient;
}
.footer{
    background-color:black;
    padding: 15px;
    display:grid;
}